extends layout

block content
	.jumbotron
		.container
			h1 I am Shoeb Patel
			p How can I Help U ?
			a.btn.btn-primary.btn-lg(href='#') Click Me &raquo

	.container
		.row
			.col-md-4
				h2 About Me 
				p orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu mollis orci, ut euismod libero. Maecenas libero ipsum, pulvinar ullamcorper diam vitae, venenatis accumsan risus. Quisque luctus convallis justo, ac tempus purus porta dignissim. Morbi fermentum massa ac nulla pretium, in viverra augue pulvinar. Morbi vel interdum est. Donec a velit quis dui pharetra pharetra mollis nec lacus. Nullam ante massa, ultricies nec ex ut, pellentesque sagittis nulla. Nam laoreet lectus nec ligula posuere hendrerit. Fusce venenatis at arcu at luctus. Quisque suscipit aliquam sapien ac fermentum. Nullam felis lectus, facilisis sed ornare a, faucibus in lectus. Pellentesque 			
				a.btn.btn-default(href="#") View Details

			.col-md-4
				h2 Education
				p orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu mollis orci, ut euismod libero. Maecenas libero ipsum, pulvinar ullamcorper diam vitae, venenatis accumsan risus. Quisque luctus convallis justo, ac tempus purus porta dignissim. Morbi fermentum massa ac nulla pretium, in viverra augue pulvinar. Morbi vel interdum est. Donec a velit quis dui pharetra pharetra mollis nec lacus. Nullam ante massa, ultricies nec ex ut, pellentesque sagittis nulla. Nam laoreet lectus nec ligula posuere hendrerit. Fusce venenatis at arcu at luctus. Quisque suscipit aliquam sapien ac fermentum. Nullam felis lectus, facilisis sed ornare a, faucibus in lectus. Pellentesque 			
				a.btn.btn-default(href="#") View Details

			.col-md-4
				h2 Experience
				p orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu mollis orci, ut euismod libero. Maecenas libero ipsum, pulvinar ullamcorper diam vitae, venenatis accumsan risus. Quisque luctus convallis justo, ac tempus purus porta dignissim. Morbi fermentum massa ac nulla pretium, in viverra augue pulvinar. Morbi vel interdum est. Donec a velit quis dui pharetra pharetra mollis nec lacus. Nullam ante massa, ultricies nec ex ut, pellentesque sagittis nulla. Nam laoreet lectus nec ligula posuere hendrerit. Fusce venenatis at arcu at luctus. Quisque suscipit aliquam sapien ac fermentum. Nullam felis lectus, facilisis sed ornare a, faucibus in lectus. Pellentesque 			
				a.btn.btn-default(href="#") View Details		